/********** Template CSS **********/
:root {
    --primary: #F12121;
    --light: #F5F5F5;
    --dark: #353535;
}

.fw-medium {
    font-weight: 500 !important;
}

.fw-bold {
    font-weight: 700 !important;
}

.fw-black {
    font-weight: 900 !important;
}

.back-to-top {
    position: fixed;
    display: none;
    right: 45px;
    bottom: 45px;
    z-index: 99;
}


/*** Spinner ***/
#spinner {
    opacity: 0;
    visibility: hidden;
    transition: opacity .5s ease-out, visibility 0s linear .5s;
    z-index: 99999;
}

#spinner.show {
    transition: opacity .5s ease-out, visibility 0s linear 0s;
    visibility: visible;
    opacity: 1;
}


/*** Button ***/
.btn {
    font-weight: 500;
    transition: .5s;
}

.btn.btn-primary,
.btn.btn-secondary {
    color: #FFFFFF;
}

.btn-square {
    width: 38px;
    height: 38px;
}

.btn-sm-square {
    width: 32px;
    height: 32px;
}

.btn-lg-square {
    width: 48px;
    height: 48px;
}

.btn-square,
.btn-sm-square,
.btn-lg-square {
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: normal;
}

/*** Navbar ***/

/* Style for the primary dropdown menu */
/* Style the dropdown button */
/* Initially hide the subcategory dropdown */

/* Move the .dropdown-menu up */
.dropdown-menu {
    transform: translateY(-10%);
}


.move-down-button {
    margin-top: 20px;
}
.dropdown-submenu {
    display: none;
    position: absolute;
    top: 0;
    left: 100%; /* Position to the right of the category */
    background-color: #fff;
    border: 1px solid #ccc;
}
/* Adjust the position of the subcategory dropdown */
.dropdown-3 {
    position: relative;
}

/* Move the subcategory dropdown to the right of the category */
.dropdown-submenu-3 {
    position: absolute;
    top: 0;
    left: 100%; /* Move it to the right of the parent dropdown */
    background-color: #fff;
    border: 1px solid #ccc;
    display: none; /* Hide it by default */
    min-width: 200px; /* Adjust the width as needed */
    z-index: 999; /* Ensure it appears above other elements */
}

/* Display the subcategory dropdown when hovering over the category */
.dropdown-3:hover .dropdown-submenu-3 {
    display: block;
}
/* Adjust the position of the subcategory dropdown */
.dropdown-2 {
    position: relative;
}

/* Move the subcategory dropdown to the left of the category */
.dropdown-submenu-2 {
    position: absolute;
    top: 0;
    left: -111%; /* Move it to the left of the parent dropdown */
    background-color: #fff;
    border: 1px solid #ccc;
    display: none; /* Hide it by default */
    min-width: 200px; /* Adjust the width as needed */
    z-index: 999; /* Ensure it appears above other elements */
}


.container-submenu {
    max-height: 200px; /* Adjust the max-height as needed */
}

.dropdown-2:hover .dropdown-submenu-2 {
    display: block;
}

/* Style the subcategory dropdown items */
.dropdown-submenu-2 .dropdown-item {
    padding: 8px 12px;
    text-align: left;
}



#category:hover + .dropdown-submenu-2 {
    display: block;
}

/* Style the subcategory dropdown items */
.dropdown-submenu-2 .dropdown-item {
    padding: 8px 12px;
    text-align: left;
}

/* Adjust the position of the subcategory dropdown items */
.dropdown-submenu-2 .dropdown-item:hover {
    background-color: #f8f9fa; /* Highlight on hover */
}


/* Display the subcategory dropdown when hovering over the category */
#category:hover + .dropdown-submenu {
    display: block;
}



.submenu {

    background-color: #fff;
    border: 1px solid #ccc;
}

.nav-item:hover .submenu {
    display: block;
}

.submenu-item {
    display: block;
    padding: 10px;
}



.navbar .dropdown-toggle::after {
    border: none;
    content: "\f107";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    vertical-align: middle;
    margin-left: 8px;
}

.dropdown-toggle-1 {
    border: none;
    content: "\f107";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    vertical-align: middle;
    margin-left: 8px;
}

.navbar-light .navbar-nav .nav-link {
    margin-right: 30px;
    padding: 25px 0;
    color: #FFFFFF;
    font-size: 15px;
    font-weight: 500;
    text-transform: uppercase;
    outline: none;
}

.navbar-light .navbar-nav .nav-link:hover,
.navbar-light .navbar-nav .nav-link.active {
    color: var(--primary);
}

@media (max-width: 991.98px) {
    .navbar-light .navbar-nav .nav-link  {
        margin-right: 0;
        padding: 10px 0;
    }

    .navbar-light .navbar-nav {
        border-top: 1px solid #EEEEEE;
    }
}

.navbar-light .navbar-brand,
.navbar-light a.btn {
    height: 75px;
}

.navbar-light .navbar-nav .nav-link {
    color: var(--dark);
    font-weight: 500;
}

.navbar-light.sticky-top {
    top: -100px;
    transition: .5s;
}

/* Reduce the height of the navbar */
.navbar {
    height: 50px; /* Adjust the desired height */
}

/* Reduce the padding of the navbar items */
.navbar-nav .nav-link {
    padding: 0.25rem 0.5rem; /* Adjust the padding values as needed */
}

/* Reduce the font size of the navbar items */
.navbar-nav .nav-link {
    font-size: 14px; /* Adjust the desired font size */
}

@media (min-width: 992px) {
    .navbar .nav-item .dropdown-menu {
        display: block;
        border: none;
        margin-top: 0;
        top: 150%;
        opacity: 0;
        visibility: hidden;
        transition: .5s;
    }

    .navbar .nav-item:hover .dropdown-menu {
        top: 100%;
        visibility: visible;
        transition: .5s;
        opacity: 1;
    }
}


/*** Header ***/
@media (max-width: 768px) {
    .header-carousel .owl-carousel-item {
        position: relative;
        min-height: 500px;
    }
    
    .header-carousel .owl-carousel-item img {
        position: absolute;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .header-carousel .owl-carousel-item h5,
    .header-carousel .owl-carousel-item p {
        font-size: 14px !important;
        font-weight: 400 !important;
    }

    .header-carousel .owl-carousel-item h1 {
        font-size: 30px;
        font-weight: 600;
    }
}



.header-carousel .owl-nav {
    position: absolute;
    width: 200px;
    height: 45px;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: space-between;
}

.header-carousel .owl-nav .owl-prev,
.header-carousel .owl-nav .owl-next {
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFFFFF;
    background: transparent;
    border: 1px solid #FFFFFF;
    font-size: 22px;
    transition: .5s;
}

.header-carousel .owl-nav .owl-prev:hover,
.header-carousel .owl-nav .owl-next:hover {
    background: var(--primary);
    border-color: var(--primary);
}

.header-carousel .owl-dots {
    position: absolute;
    height: 45px;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-carousel .owl-dot {
    position: relative;
    display: inline-block;
    margin: 0 5px;
    width: 15px;
    height: 15px;
    background: transparent;
    border: 1px solid #FFFFFF;
    transition: .5s;
}

.header-carousel .owl-dot::after {
    position: absolute;
    content: "";
    width: 5px;
    height: 5px;
    top: 4px;
    left: 4px;
    background: transparent;
    border: 1px solid #FFFFFF;
}

.header-carousel .owl-dot.active {
    background: var(--primary);
    border-color: var(--primary);
}

.page-header {
    background: linear-gradient(rgba(53, 53, 53, .7), rgba(53, 53, 53, .7)), url(../img/aragaze2.jpg) center center no-repeat;
    background-size: cover;
}

.breadcrumb-item + .breadcrumb-item::before {
    color: var(--light);
}


/*** Section Title ***/
.section-title h1 {
    position: relative;
    display: inline-block;
    padding: 0 60px;
}

.section-title.text-start h1 {
    padding-left: 0;
}

.section-title h1::before,
.section-title h1::after {
    position: absolute;
    content: "";
    width: 45px;
    height: 5px;
    bottom: 0;
    background: var(--dark);
}

.section-title h1::before {
    left: 0;
}

.section-title h1::after {
    right: 0;
}

.section-title.text-start h1::before {
    display: none;
}


/*** About ***/
@media (min-width: 992px) {
    .container.about {
        max-width: 100% !important;
    }

    .about-text  {
        padding-right: calc(((100% - 960px) / 2) + .75rem);
    }
}

@media (min-width: 1200px) {
    .about-text  {
        padding-right: calc(((100% - 1140px) / 2) + .75rem);
    }
}

@media (min-width: 1400px) {
    .about-text  {
        padding-right: calc(((100% - 1320px) / 2) + .75rem);
    }
}


/*** Service ***/
.service-item img {
    transition: .5s;
}

.service-item:hover img {
    transform: scale(1.1);
}


/*** Feature ***/
@media (min-width: 992px) {
    .container.feature {
        max-width: 100% !important;
    }

    .feature-text  {
        padding-left: calc(((100% - 960px) / 2) + .75rem);
    }
}

@media (min-width: 1200px) {
    .feature-text  {
        padding-left: calc(((100% - 1140px) / 2) + .75rem);
    }
}

@media (min-width: 1400px) {
    .feature-text  {
        padding-left: calc(((100% - 1320px) / 2) + .75rem);
    }
}


/*** Project Portfolio ***/
#portfolio-flters li {
    display: inline-block;
    font-weight: 500;
    color: var(--dark);
    cursor: pointer;
    transition: .5s;
    border-bottom: 2px solid transparent;
}

#portfolio-flters li:hover,
#portfolio-flters li.active {
    color: var(--primary);
    border-color: var(--primary);
}

.portfolio-item img {
    transition: .5s;
}

.portfolio-item:hover img {
    transform: scale(1.1);
}

.portfolio-item .portfolio-overlay {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 0;
    height: 0;
    bottom: 0;
    left: 50%;
    background: rgba(53, 53, 53, .7);
    transition: .5s;
}

.portfolio-item:hover .portfolio-overlay {
    width: 100%;
    height: 100%;
    left: 0;
}

.portfolio-item .portfolio-overlay .btn {
    opacity: 0;
}

.portfolio-item:hover .portfolio-overlay .btn {
    opacity: 1;
}


/*** Quote ***/
@media (min-width: 992px) {
    .container.quote {
        max-width: 100% !important;
    }

    .quote-text  {
        padding-right: calc(((100% - 960px) / 2) + .75rem);
    }
}

@media (min-width: 1200px) {
    .quote-text  {
        padding-right: calc(((100% - 1140px) / 2) + .75rem);
    }
}

@media (min-width: 1400px) {
    .quote-text  {
        padding-right: calc(((100% - 1320px) / 2) + .75rem);
    }
}

/* Shop */
.shop {
    display: grid;
    grid-template-rows: repeat(2, 200px); /* Adjust the number of rows as needed */
    grid-gap: 10px; /* Add some gap between grid items */
    justify-content: space-between;
}

.shop-item {
    border: 2px solid black; /* Specify the border style */
    text-align: center;
    padding: 10px; /* Add padding for better spacing */
}


/*** Team ***/
.team-item img {
    transition: .5s;
}

.team-item:hover img {
    transform: scale(1.1);
}

.team-item .team-social {
    position: absolute;
    width: 38px;
    top: 50%;
    left: -38px;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    background: #FFFFFF;
    transition: .5s;
}

.team-item .team-social .btn {
    color: var(--primary);
    background: #FFFFFF;
}

.team-item .team-social .btn:hover {
    color: #FFFFFF;
    background: var(--primary);
}

.team-item:hover .team-social {
    left: 0;
}


/*** Testimonial ***/
.testimonial-carousel::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    background: linear-gradient(to right, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 100%);
    z-index: 1;
}

.testimonial-carousel::after {
    position: absolute;
    content: "";
    top: 0;
    right: 0;
    height: 100%;
    width: 0;
    background: linear-gradient(to left, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 100%);
    z-index: 1;
}

@media (min-width: 768px) {
    .testimonial-carousel::before,
    .testimonial-carousel::after {
        width: 200px;
    }
}

@media (min-width: 992px) {
    .testimonial-carousel::before,
    .testimonial-carousel::after {
        width: 300px;
    }
}

.testimonial-carousel .owl-item .testimonial-text {
    border: 5px solid var(--light);
    transform: scale(.8);
    transition: .5s;
}

.testimonial-carousel .owl-item.center .testimonial-text {
    transform: scale(1);
}

.testimonial-carousel .owl-nav {
    position: absolute;
    width: 350px;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: space-between;
    opacity: 0;
    transition: .5s;
    z-index: 1;
}

.testimonial-carousel:hover .owl-nav {
    width: 300px;
    opacity: 1;
}

.testimonial-carousel .owl-nav .owl-prev,
.testimonial-carousel .owl-nav .owl-next {
    position: relative;
    color: var(--primary);
    font-size: 45px;
    transition: .5s;
}

.testimonial-carousel .owl-nav .owl-prev:hover,
.testimonial-carousel .owl-nav .owl-next:hover {
    color: var(--dark);
}


/*** Contact ***/
@media (min-width: 992px) {
    .container.contact {
        max-width: 100% !important;
    }

    .contact-text  {
        padding-left: calc(((100% - 960px) / 2) + .75rem);
    }
}

@media (min-width: 1200px) {
    .contact-text  {
        padding-left: calc(((100% - 1140px) / 2) + .75rem);
    }
}

@media (min-width: 1400px) {
    .contact-text  {
        padding-left: calc(((100% - 1320px) / 2) + .75rem);
    }
}


/*** Footer ***/
.footer {
    background: linear-gradient(rgba(53, 53, 53, .7), rgba(53, 53, 53, .7)), url(../img/footer.jpg) center center no-repeat;
    background-size: cover;
}

.footer .btn.btn-social {
    margin-right: 5px;
    width: 35px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--light);
    border: 1px solid #FFFFFF;
    transition: .3s;
}

.footer .btn.btn-social:hover {
    color: var(--primary);
}

.footer .btn.btn-link {
    display: block;
    margin-bottom: 5px;
    padding: 0;
    text-align: left;
    color: #FFFFFF;
    font-size: 15px;
    font-weight: normal;
    text-transform: capitalize;
    transition: .3s;
}

.footer .btn.btn-link::before {
    position: relative;
    content: "\f105";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    margin-right: 10px;
}

.footer .btn.btn-link:hover {
    color: var(--primary);
    letter-spacing: 1px;
    box-shadow: none;
}

.footer .copyright {
    padding: 25px 0;
    font-size: 15px;
    border-top: 1px solid rgba(256, 256, 256, .1);
}

.footer .copyright a {
    color: var(--light);
}

.footer .copyright a:hover {
    color: var(--primary);
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

.container .searchInput {
    background: #fff;
    width: 100%;
    border-radius: 5px;
    position: relative;
    box-shadow: 0px 1px 5px 3px rgba(0, 0, 0, 0.12);
  }
  
  /* Search input field */
  .searchInput input {
    height: 40px;
    width: 100%;
    outline: none;
    border: none;
    border-radius: 5px;
    padding: 0 60px 0 20px;
    font-size: 18px;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.1);
  }
  
  /* Active state */
  .searchInput.active input {
    border-radius: 5px 5px 0 0;
  }
  
  /* Result box */
  .searchInput .resultBox {
    padding: 0;
    opacity: 0;
    pointer-events: none;
    max-height: 280px;
    overflow-y: auto;
  }
  
  /* Active result box */
  .searchInput.active .resultBox {
    padding: 10px 8px;
    opacity: 1;
    pointer-events: auto;
  }
  
  /* Individual result items */
  .resultBox li {
    list-style: none;
    padding: 8px 12px;
    display: none;
    width: 100%;
    cursor: default;
    border-radius: 3px;
    height: 60px;
    color: black;
  }
  
  /* Active result items */
  .searchInput.active .resultBox li {
    display: block;
  }
  
  /* Hover state for result items */
  .resultBox li:hover {
    background: #efefef;
  }
  
  /* Search icon */
  .searchInput .icon {
    position: absolute;
    right: 0px;
    top: 0px;
    height: 55px;
    width: 55px;
    text-align: center;
    line-height: 55px;
    font-size: 20px;
    color: #644bff;
    cursor: pointer;
  }
  

.suggestion-content {
  display: flex;
  justify-content: space-between; /* Move the photo to the left and text to the right */
  align-items: center; /* Vertically center align the content */
}


.suggestion-image {
  width: 45px; /* Set your desired width */
  height: 45px; /* Set your desired height */
  margin-right: 5px; /* Add some margin to separate the image from text */
}

.suggestion-content a {
  display: block;
  width: 100%;
  text-decoration: none;
  color: inherit;
}

.suggestion-link {
  display: block;
  width: 100%;
  text-decoration: none;
  color: inherit;
  cursor: pointer; /* Adăugați un cursor de tip pointer pentru a indica că este un link */
}

/* Style the search button */
.search-button {
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 0;
  }
  
  /* Style the car icon */
  .search-button i {
    color: #644bff;
    font-size: 20px;
  }
  
  /* Position the car icon within the button */
  .search-button i {
    display: block;
    width: 100%;
    height: 100%;
    text-align: center;
    line-height: 50px; /* Adjust this value to center the icon vertically */
  }
  
  .searchInput {
    position: relative; /* Adaugă această linie */
    /* Stilurile existente ale .searchInput */
    width: 550px;
  }

.resultBox {
    position: absolute;
    top: 100%; /* Poziționează caseta de rezultate sub bara de căutare */
    left: 0;
    width: 100%; /* Facem ca resultBox să aibă aceeași lățime ca și searchInput */
    background: #fff;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    max-height: 100px; /* Ajustează înălțimea la valoarea dorită */
    overflow-y: auto;
    /* Restul stilurilor */
}